:root {
  --background-colour: #000000;
  --global-colour: #181922;
  --banner-colour: #21232E;
  --divider-colour: #FFFFFF25;
  --active-colour: #535353;
  --inactive-colour: #21232E;
  --icon-colour: #5696C7;
  --text-value-colour: #F2F2F2;
  --text-value-colour-dark: #535353;
  --inactive-instrument-colour: #777777;
  --instrument-value-colour: #5696C7;
  --box-shadow: 0px 0px 2px 2px rgba(100, 100, 100, 0.5);
  --box-shadow-half: 0px 0px 2px 2px rgba(50, 50, 50, 0.8);
  --remove-colour: #e74c3c;
  --remove-hoover-colour: #c0392b;
}

[theme-palette='day'] {
  --background-colour: #F7F7F7;
  --global-colour: #FFF;
  --banner-colour: #FFF;
  --divider-colour: #DDD;
  --active-colour: #FFF;
  --inactive-colour: #FFF;
  --icon-colour: #535353;
  --text-value-colour: #000000;
  --inactive-instrument-colour: #999999;
  --instrument-value-colour: #254C93;
  --box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-half: 0px 0px 2px 2px rgba(200, 200, 200, 0.5);
  --remove-colour: #e74c3c;
  --remove-hoover-colour: #c0392b;
}
